body{
	overflow: hidden;
	background-color: #2B79D8;
	background-image: url(img/background.png);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	height: 100vh;
}

*{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
	font-family: "Segoe UI",Arial,sans-serif;
}

.displayNone{
	display: none !important;
}

h1{
	text-align: center;
	color: #D86D2B;
	font-size: 3.3vw;
	margin-top: 2vh;
	margin-bottom: 3vh;
	text-shadow: 4px 4px 6px black;
}

header{
	width: 70%;
	height: 9vh;
	margin: 0px auto;
	background-color: #D86D2B;
	border-radius: 5vh;
	overflow: hidden;
	display: flex;
	justify-content: center;
}

.headerButton{
	height: 100%;
	width: 20%;
	text-align: center;
	font-weight: bold;
	font-size: 6vh;
	color: white;
	line-height: 8.3vh;
	cursor: pointer;
	color: white;
	border-right: 1px solid #E49567;
}

#headerHome{
	font-size: 5vh;
	line-height: 8.6vh;
}
#headerPersonal{
	font-size: 5vh;
	line-height: 7.2vh;
}

.activeButton{
	background-color: #E49567;
}

#homeContainer{
	width: 70%;
	height: 65vh;
	border-radius: 5vh;
	background-color: #D86D2B;
	margin: 4vh auto;
	padding-top: 1.7vh;
	padding-left: 1.3vw;
	padding-right: 2vw;
}
#homeLeft{
	float: left;
	width: 55%;
}
#homeRight{
	float: right;
	width: 45%;
}

#homeContainer h2{
	font-size: 36px;
}
#homeContainer p{
	font-size: 16px;
}

#display{
	width: 70%;
	margin: 0px auto;
	display: flex;
	justify-content: space-between;
	margin-top: 4vh;
}

#linksContainer{
	width: 33%;
	border-radius: 5vh;
	overflow: hidden;
	background-color: #D86D2B;
	transition: height 0.5s ease-in-out;
}

.linkButton{
	height: 9vh;
	text-align: center;
	color: white;
	font-size: 4vh;
	line-height: 8.3vh;
	cursor: pointer;
	border-bottom: 1px solid #E49567;
}

#ContentContainer{
	width: 62%;
	border-radius: 5vh;
	overflow: hidden;
	background-color: #E49567;
	height: 65vh;
	padding-top: 1.7vh;
	padding-left: 1.3vw;
	padding-right: 1.5vw;
	padding-bottom: 2.5vh;
	overflow-y: scroll;
}
#ContentContainer::-webkit-scrollbar {
  display: none;
}

#contentTitle{
	font-size: 36px;
}

#contentDesc{
	font-size: 16px;
	margin-top: 5px;
}

#contentImg{
	max-width: 100%;
	margin-top: 2vh;
}

#contentLink{
	font-size: 17px;
	margin-top: 10px;
    display: block;
}